# Ignore env file

# Ignore Firebase service account key
serviceAccountKey.json

# Ignore dependencies
node_modules/

# Optional
.vercel/
config.bat
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
